<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="calculator" class="com.mail.mailSender.learning.Calculator">
<!--        <property name="getGSTPercentToMoney" ></property>-->
    </bean>
    <bean id="BeanLifeCycle" class="com.mail.mailSender.learning.BeanLifeCycle">
<!--        <constructor-arg ref="calculator"></constructor-arg>-->
        <property name="calculator" ref="calculator"></property>
    </bean>
    
</beans>